# Base config for an ADS management server on $SERVICE_CONTROLLER_PORT, admin port on $ADMIN_PORT
admin:
  access_log_path: /dev/null
  address:
    socket_address:
      address: 0.0.0.0
      port_value: $ADMIN_PORT
dynamic_resources:
  ads_config:
    api_type: GRPC
    transport_api_version: V3
    grpc_services:
    - envoy_grpc:
        cluster_name: ads_cluster
  cds_config:
    resource_api_version: V3
    ads: {}
  lds_config:
    resource_api_version: V3
    ads: {}
node:
  cluster: envoy-cluster
  id: $NODE_ID
static_resources:
  clusters:
  - name: ads_cluster
    connect_timeout: 1s
    per_connection_buffer_limit_bytes: 32768 # 32 KiB
    type: strict_dns
    load_assignment:
      cluster_name: ads_cluster
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: $SERVICE_CONTROLLER_ADDRESS
                port_value: $SERVICE_CONTROLLER_PORT

    typed_extension_protocol_options:
      envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
        "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
        explicit_http_config:
          http2_protocol_options:
            initial_stream_window_size: 65536 # 64 KiB
            initial_connection_window_size: 1048576 # 1 MiB
            connection_keepalive:
              interval: 30s
              timeout: 5s
layered_runtime:
  layers:
    - name: static_layer_0
      static_layer:
        envoy:
          resource_limits:
            listener:
              default:
                connection_limit: 10000
        overload:
          global_downstream_max_connections: 50000